@charset "utf-8";

/*
Robyt Framework
Author: Hector Arce de las Heras
Web: hectorarce.es
*/

@font-face {
	font-family: font_titulo;
	src: url(fonts/primary.otf);
}

@font-face {
	font-family: font_texto;
	src: url(fonts/text.ttf);
}

body {
	text-rendering: optimizeLegibility;
}

hr {
	margin-top: 50px;
	margin-bottom: 50px;
}

.titulo {
	font-family: font_titulo !important;
}

.texto {
	font-family: font_texto !important;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	margin-left: -75px;
	height: 80px;
	margin-top: -40px;
	padding: 5px;
	transition: 0.5s;
}

.center_second {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 420px;
	margin-left: -210px;
	height: 430px;
	margin-top: -215px;
	padding: 5px;
	transition: 0.5s;
}

header h1 {
	font-size: 50px;
	margin-top: 0px;
}

#lineindex {
	margin-top: 10px;
	background-color: #F5BB0A;
	height: 4px;
	width: 0%;
	border: 0px;
	margin-bottom: 0px;
	transition: 1.2s;
}

#form {
	display: none;
	opacity: 0;
	transition: 0.5s;
}

#form h1 {
	margin-bottom: 35px;
}

#form h1:after {
	content: '';
	display: block;
	background: #F5BB0A;
	height: 20px;
	max-width: 109px;
	width: 100%;
	margin: -13px auto;
}

#form label {
	padding: 0px;
	margin-bottom: 5px;
	font-size: 16px;
}

#form .butn {
	display: block;
	width: 100%;
}

#form .forminput {
	margin-bottom: 20px;
}

#showgrid {
	display: none;
	opacity: 0;
	transition: 0.4s;
}

#contentbut {
	text-align: center;
	display: block;
	position: relative;
	top: 25px;
	margin-bottom: 60px;
}

#line {
	border: 0px;
	height: 1px;
	background-color: #F5BB0A;
	padding: 0px;
	display: block;
	margin-bottom: 35px !important;
}

#another {
	cursor: pointer;
	font-weight: lighter !important;
}

#down {
	cursor: pointer;
	margin-left: 40px;
	font-weight: lighter !important;
}

#titlefinal {
	margin-top: 40px;
	margin-bottom: 20px;
}

#titlefinal:after {
	content: '';
	display: block;
	background: #F5BB0A;
	height: 20px;
	max-width: 369px;
	width: 100%;
	margin: -13px auto;
	margin-bottom: 20px;
}